@media screen and (max-width:1200px) {
    .service-bottom {
        display: none;
    }
}


/*стили для карточке товаров в списках*/

.first-left {
    float: left;
}

.first-right {
    float: right;
}

.second-left {
    float: left;
}



.btn-std {
    font: 700 18px/18px "Roboto Condensed", sans-serif;
    color: #ffffff;
    display: inline-block;
    padding: 9px 20px 9px;
    /* background: url(/images/gradient2.png) repeat-x center bottom #f06230; */
    border-radius: 3px;
    border-top: 1px solid #f06230 !important;
    border-left: 1px solid #f06230 !important;
    background-color: #f06230 !important;
}

.btn-std:hover {
    font: 700 18px/18px "Roboto Condensed", sans-serif;
    color: #ffffff !important;
    display: inline-block;
    padding: 9px 20px 9px;
    /* background: url(/images/gradient2.png) repeat-x center bottom #f06230; */
    border-radius: 3px;
    border-top: 1px solid #f06230 !important;
    border-left: 1px solid #f06230 !important;
    background-color: #f06230 !important;
}

.additional-info {
    padding-top: 10px;
}