.fotorama, .images_block {
    width: 100% !important;
}

.year-detail {
    font-weight: 700;
}

.price-detail {
    font-weight: 700;
}

.fancybox-wrap {
    width: 505px !important;
}

.fancybox-inner {
    width: 488px !important;
    height: auto !important;
    overflow-x: hidden !important;
}

.img-credit {
    height: 124px;
    float: left;
}

.image-credit {
    float: left;
    width: 40%;
}

.description-credit {
    float: left;
    width: 60%;
    text-align: left;
}

.calctext {
    border: 0;
    color: #000 !important;
    background-color: #F5F5F5;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
}

#initialrange {
    width: 73%;
    float: left;
    margin-left: 24px;
    padding: 4px 15px;
    margin-top: 7px;
}

#initial {
    width: 21%;
    float: left;
}

#timerange {
    width: 73% !important;
    float: left;
    margin-left: 25px;
    /* padding: 3px; */
    margin-top: 7px;
}

#time {
    width: 21%;
    float: left;
}


#calc .inputtext {
    display: none;
}

.ico-services {
    width: 64px;
    height: 64px;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/sprite.png);
    background-position-y: -64px;
}

.link-services {
    height: 185px;
    width: auto;
    color: white;
}

.link-services:hover {
    color: white;
    text-decoration: none;
}

.inner-block {
    text-align: center;
    background: #333;
    padding: 24px 15px;
    height: 210px;
}

.trade-in {
    background-position-x: -64px;
}

.credit {
    background-position-x: -192px;
}

.exchange {
    background-position-x: -128px;
}

.heading1 {
    background-color: #ed642f;
    color: white;
}

.banner3 {
    padding: 11px 10px 11px 16px !important;
}

#allauto {
    padding: 6px 13px 5px 8px;
    background-color: #303030;
    color: white;
}

#allauto:hover {
    background-color: #777777;
    text-decoration: none;
    color: white;
}

.tel_cart {
    float: left;
    margin-left: 9px;
}

.width-wrapper.width-wrapper__inset2 {
    background: #303030 !important;
}

#footer {
    background: #303030 !important;
}

.box2 a {
    color: white;
}

.old-price {
    text-decoration: line-through;
}

.detail-old span {
    text-decoration: line-through;
}

.heading1 {
    background-color: white;
    color: #ed642f;
}

.heading1 h2 {
    text-decoration: underline;
}

.phone-block h3 {
    text-transform: none;
    font-style: italic;
}

[class*="grid_"] {
    float: left;
    min-height: 1px;
    margin-left: 23px;
}

.credit-button-list {
    margin-left: 10px;
}

.error {
    color: red;
    font-size: 13px;
}

.question {
    color: grey;
}