table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}



/*---------------------------------------------------------*/

#form_sale table.form-table th {
    text-align: left;
    color: #25639A;
    background: transparent;
}


#form_sale {
    
}

#form_sale table.form-table {
    width: 98%;
    background-color: white;
    border-collapse: collapse;
    font-size: 100%;
    font-weight: normal;
    line-height: 160%;
    margin: auto;
}

#form_sale table.form-table th,
#form_sale table.form-table td {
    border: 0 solid transparent;
    padding: 5px 5px;
    vertical-align: top;
}


#form_sale table.form-table tr th:first-child,
#form_sale table.form-table tr td:first-child {
    width: 170px;
    padding-top: 8px;
    font-size: 16px;
    padding-left: 15px;
}


#form_sale table.form-table tr th:last-child,
#form_sale table.form-table tr td:last-child {
    padding-right: 15px;
}

#form_sale table.form-table input[type=text],
#form_sale table.form-table textarea,
#form_sale table.form-table select {
	width: 100%;
    box-sizing: border-box;
    padding: 3px;
}

#form_sale table.form-table {
    background: #ECE9E9;
}

#form_sale table.form-table {
    border-top: 15px solid #ECE9E9;
    border-bottom: 10px solid #ECE9E9;
}

#form_sale h3 {
    text-transform: none;
    font-family: Trebuchet MS, serif;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 23px;
}

#form_sale tfoot input {
    margin-right: 14px;
    color: #fff;
    background: #A9A1A1;
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
}

#form_sale tfoot input:hover { opacity: .9; }

/*--------------------------------------------------------------------*/

@media (max-width: 995px) and (min-width: 771px) {

}
/*------ 995 - 771  -----*/



@media (max-width: 770px) and (min-width: 481px)  {

}
/*------  770 - 481  -----*/



@media (max-width: 480px) {

}
/*------  480  -----*/