/*color*/
.body-blog a:link, .body-blog a:visited, .body-blog a:active, .blog-navigation-box li a {color:#303030;}
.body-blog a:hover {color:#d04747;}

.blog-post-title {background-color: #f5f5eb;}
.blog-post-title span, .blog-post-title a:link, .blog-post-title a:visited, .blog-post-title a:active {color: #303030 !important;}

/*images*/
.blog-group-icon {background-image: url(images/user_group.gif);}
.blog-author-icon {background-image: url(images/user.gif);}
.blog-group-edit, .blog-post-edit-link {background-image: url(images/icon_edit.gif);}
.blog-group-delete, .blog-post-delete-link {background-image: url(images/icon_delete.gif);}
.blog-post-comments-link {background-image: url(images/icon_comment.gif);}
.blog-post-views-link {background-image: url(images/icon_view.gif); }
.blog-post-publish-link {background-image: url(images/icon_publish.gif);}
.blog-post-show-link {background-image: url(images/icon_show.gif);}
.blog-post-hide-link {background-image: url(images/icon_hide.gif);}

.blog-comment-cont{}
.blog-comment-info {}
.blog-post-info-back {}
.blog-post-info {background-color: #f5f5f5; border-top: 1px solid #fff;}
