/* ======= Camera Wrapper ======= */
.slider-wrapper {
  border-radius: 3px;
}
@media (max-width: 1199px) {
  .slider-wrapper {
  }
}
@media (max-width: 979px) {
  .slider-wrapper {
  }
}
@media (max-width: 767px) {
  .slider-wrapper {
  }
}
/* ======= Caption Styles ======= */
.caption {
  bottom: 24px;
  left: 30px;
  display: block;
  position: absolute;
  text-align: left;
}
.caption .heading {
  font: 700 40px/42px "Lato", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 767px) {
  .caption .heading {
    font-size: 20px;
    line-height: 22px;
  }
}
.caption .heading .first {
  display: block;
}
.caption .heading .second {
  display: block;
}
.caption .heading .price {
  color: #e54f22;
}
.caption .info {
  margin-top: 5px;
  font: 300 16px/24px "Lato", sans-serif;
  color: #ffffff;
}
.caption .info strong {
  font-weight: 700;
}
.caption .info .first {
  display: inline-block;
}
.caption .info .second {
  display: inline-block;
  margin-left: 19px;
}
@media (max-width: 479px) {
  .caption .info {
    display: none;
  }
}
/* ======= Pagination Styles ======= */
.camera_pag {
  text-align: right;
}
.camera_pag .camera_pag_ul {
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 19px;
  display: inline-block;
  right: 30px;
}
.camera_pag .camera_pag_ul li {
  margin: 0;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  width: 15px;
  background: #ffffff;
  position: relative;
  text-align: left;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.camera_pag .camera_pag_ul li.cameracurrent {
  background: #e54f22;
}
.camera_pag .camera_pag_ul li:hover {
  background: #e54f22;
}
.camera_pag .camera_pag_ul li + li {
  margin-left: 3px;
}
@media (max-width: 767px) {
  .camera_pag .camera_pag_ul {
    bottom: auto;
    top: 14px;
  }
}
/* ======= Navigation Styles ======= */
.camera_prev {
  left: 0;
}
.camera_prev span {
  display: block;
  height: 40px;
  width: 40px;
  background: #ffffff;
}
.camera_next {
  right: 0;
}
.camera_next span {
  display: block;
  height: 40px;
  width: 40px;
  background: #ffffff;
}
/* ======= General ======= */
.camera_wrap a,
.camera_wrap img,
.camera_wrap ol,
.camera_wrap ul,
.camera_wrap li,
.camera_wrap table,
.camera_wrap tbody,
.camera_wrap tfoot,
.camera_wrap thead,
.camera_wrap tr,
.camera_wrap th,
.camera_wrap td .camera_thumbs_wrap a,
.camera_thumbs_wrap img,
.camera_thumbs_wrap ol,
.camera_thumbs_wrap ul,
.camera_thumbs_wrap li,
.camera_thumbs_wrap table,
.camera_thumbs_wrap tbody,
.camera_thumbs_wrap tfoot,
.camera_thumbs_wrap thead,
.camera_thumbs_wrap tr,
.camera_thumbs_wrap th,
.camera_thumbs_wrap td {
  background: none;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
}
.camera_wrap {
  display: none;
  float: left;
  position: relative;
  z-index: 0;
}
.camera_wrap img {
  max-width: none!important;
}
.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.camera_wrap {
  width: 100%;
}
.camera_src {
  display: none;
}
.cameraCont,
.cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cameraSlide {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.cameraContent {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.camera_target {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0;
}
.camera_overlayer {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.camera_target_content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.camera_target_content .camera_link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.camera_loader {
  background: #ffffff url(../images/camera-loader.gif) no-repeat center;
  background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}
.camera_bar {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar,
.camera_thumbs_wrap.camera_right .camera_bar {
  height: 100%;
  position: absolute;
  width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar,
.camera_thumbs_wrap.camera_top .camera_bar {
  height: auto;
  position: absolute;
  width: 100%;
}
.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}
.camerarelative {
  overflow: hidden;
  position: relative;
}
.imgFake {
  cursor: pointer;
}
.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}
.camera_command_wrap .hideNav {
  display: none;
}
.showIt {
  display: none;
}
.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}
.camera_caption {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
}


