

/*Links*/
.sf-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}


/*Links*/
.sf-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}






.sf-menu  li:hover ul,
.sf-menu  li.jshover ul,
.sf-menu  li li:hover ul,
.sf-menu li li.jshover ul,
.sf-menu li li li:hover ul,
.sf-menu  li li li.jshover ul,
.sf-menu  li li li li:hover ul,
.sf-menu  li li li li.jshover ul,
.sf-menu  li li li li li:hover ul,
.sf-menu  li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}


.sf-menu ul:hover {
	display: block;

}

.multi:hover {
	display: block;
}


.sf-menu ul {
	/* display: none; */
	top: 60px !important;
	z-index: 10 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sf-menu > li > a {
	display: block;
	padding: 19px 13px 17px !important;
}


.sf-menu ul li a {
	display: block;
	padding: 9px 5px 10px 17px !important;
	text-align: left;

}
