.kff-feedback {}
.kff-tab-form, .kff-tab-form tr, .kff-tab-form tr td { border: 0 none; }
.kff-field-label {font: 300 14px/24px "Roboto", sans-serif; padding:0 5px 15px 0; }
.kff-name, .kff-phone, .kff-email, .kff-captcha, .kff-text { width:100%; padding-bottom:15px; }
.kff-name input, .kff-phone input, .kff-email input {
	width: 95%; 
	font: 300 16px/24px "Roboto", sans-serif;
    background: #FFFFFF;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(215, 215, 215, 0.7) inset;
    padding: 5px 5px !important;
}
.kff-text textarea {
	width: 95%;
	min-height: 90px;
    resize: vertical;
    background: #FFFFFF;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(215, 215, 215, 0.7) inset;
    padding: 5px 5px !important;
}
span.kff-req { color:red; }
.kff-ok-text { color:green; font-weight:bold; padding-bottom: 1em; }
.kff-feedback input[type="submit"] {
    cursor: pointer;
    padding: 5px 10px !important;
}