div.otzyv-item
{
  display: block;
  max-width: 600px;
  margin:0 4px 6px 10px;

}
div.otzyv-top
{
  display: block;
  margin:0 4px 6px 0;
}
div.otzyv-cli
{
	color: #de3e00;
	font-weight: bold;
}
div.otzyv-date
{
	float: right;
}
