div.news-list
{
	word-wrap: break-word;
}
.preview-image{
	text-align: center;
}
.news-item{
	padding-bottom: 30px;
}
div.news-list img.preview_picture
{
	float:none !important;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
	margin-right: 20px;
}

.dolcar-articles {
	background-color: #f4f4f4;
}

.description {
	padding: 20px;
}


.meta-info {
	margin-left: 20px;
}